/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

a{
    text-decoration: none;
}


//importing partials
@import './scss/login';
@import './scss/navbar';
@import './scss/linkBars';
@import './scss/shop';
@import './scss/alert';
@import './scss/notify';